/* h1{
    color: red;
    background-color: blue;
} */

/* #tag{
    color: green;
}

.title{
    color: red;
} */

/* body{
    background-color: lightgreen;
} */

h1{
    /* text-align: center; */
    /* text-align: right; */
    /* text-align: end; */
    /* text-align: left; */
    /* text-align: start; */

    /* text-decoration: line-through; */
    /* text-decoration: overline; */
    /* text-decoration: underline; */

    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */

    /* font-size: 60px; */
    /* font-family: "Tagesschrift", system-ui; */
}

/* a{
    text-decoration: none;
} */