/* p{
    color: green;
    background-color: lightgreen; */

    /* padding: 4s; */
    /* padding: 30px; */

    /* padding: t/b r/l; */
    /* padding: 30px 60px; */

    /* padding: t r/l b; */
    /* padding: 50px 80px 30px; */

    /* padding: t r b l; */
    /* padding: 10px 20px 30px 40px; */
    /* padding: 0 20px 0 0; */

    /* padding-top: 40px; */
    /* padding-right: 40px; */
    /* padding-bottom: 40px; */
    /* padding-left: 40px; */
/* }

#tag{ */
    /* margin: 4s; */
    /* margin: 40px; */

    /* margin: t/b r/l; */
    /* margin: 40px 80px; */

    /* margin: t r/l b; */
    /* margin: 10px 50px 30px; */

    /* margin: t r b l; */
    /* margin: 10px 20px 30px 40px; */

    /* margin-top: 40px; */
    /* margin-right: 40px; */
    /* margin-bottom: 40px; */
    /* margin-left: 40px; */
/* } */

/* #tag{
    background-color: plum;
    color: purple;
    padding: 40px;
    margin: 40px 80px; */

    /* border: thickness type color; */
    /* border: 10px solid purple; */

    /* border: 5px solid purple; */
    /* border: 5px dotted purple; */
    /* border: 5px double purple; */
    /* border: 5px dashed purple; */
    /* border: 5px inset purple; */
    /* border: 5px outset purple; */
    /* border: 10px ridge purple; */
    /* border: 10px groove purple; */

    /* border-top: 10px solid purple; */
    /* border-right: 10px solid purple; */
    /* border-bottom: 10px solid purple; */
    /* border-left: 10px solid purple; */

    /* border: 5px solid purple; */

    /* border-radius: 100%; */
    /* border-radius: 50%; */

    /* border-radius: 30px; */
    /* border-radius: 30px 60px; */
    /* border-radius: 30px 60px 10px; */
    /* border-radius: 10px 20px 30px 40px; */

    /* border-radius: 0 30px;
}

img{
    height: 100px;
    width: 100px;
    border: 3px solid purple;
    border-radius: 100%;
}

ul{ */
    /* list-style-type: none; */
    /* list-style-type: disc; */
    /* list-style-type: decimal; */
    /* list-style-type: circle; */
    /* list-style-type: square; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: lower-roman; */
    /* list-style-type: upper-roman;
} */

/* p{
    background-color: lightgreen;
    color: green;
    display: inline;
    height: 100px;
    width: 100px;
}

a{
    background-color: plum;
    color: purple;
    text-decoration: none; */
    /* display: block; */
    /* display: inline-block;
    height: 100px;
    width: 100px;
}

img{
    display: none;
} */

/* div img{ */
    /* float: left; */
    /* float: right; */
    /* float: none; */
/* } */

/* div{
    height: 300px;
    width: 300px;
    background-color: plum; */

    /* overflow: hidden; */
    /* overflow: visible; */
    /* overflow: auto; */
    /* overflow: scroll; */
    /* overflow-x: scroll; */
    /* overflow-y: scroll;
} */

/* div p{
    width: 350px;
} */