/* .container{
    display: flex;
    flex-wrap: wrap;
}

.container > div{
    height: 200px; */
    /* flex-grow: 1; */
    /* flex: 1 100%; */
    /* flex: 1 50%; */
    /* flex: 1 25%;
}

.container .box1{
    background-color: red;
}

.container .box2{
    background-color: blue;
}

.container .box3{
    background-color: green;
}

.container .box4{
    background-color: yellow;
}

@media screen and (max-width : 768px) {
    .container > div{
        flex: 1 50%;
    }
}

@media screen and (max-width : 320px) {
    .container > div{
        flex: 1 100%;
    }
} */
/* 
.container{
    display: flex;
}

.container > div{
    padding: 30px;
    flex-grow: 1;
}

.container .box1{
    background-color: red;
}

.container .box2{
    background-color: blue;
}

@media screen and (max-width : 768px) {
    .container{
        flex-direction: column;
    }
}

@media screen and (max-width : 320px) {
    .container{
        flex-direction: column-reverse;
    }
} */

/* :root{
    --color : lightgreen;
    --bg-color : green;
}

h1 , span{
    color: var(--color);
    background-color: var(--bg-color);
}

p , u{
    color: var(--bg-color);
    background-color: var(--color);
}

button{ */
    /* cursor: pointer; */
    /* cursor: alias; */
    /* cursor: grab; */
    /* cursor: grabbing; */
    /* cursor: cell; */
    /* cursor: help;
} */

/* #toggle:checked + label{
    color: red;
} */

*{
    margin: 0;
    padding: 0;
}

:root{
    --color : plum;
    --bg-color : purple;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color);
    color: var(--bg-color);
    padding: 15px;
}

.navbar .menu a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 0 15px;
}

#menu-toggle , #icon , #icon1{
    display: none;
}

@media screen and (max-width : 768px) {
    .menu{
        display: none;
    }

     #icon{
        display: inline;
    }

    #menu-toggle:checked ~ .menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 62px;
        left: 0;
        background-color: var(--color);
        width: 100%;
    }

    #menu-toggle:checked ~ #icon{
        display: none;
    }

    #menu-toggle:checked ~ #icon1{
        display: inline;
    }
}